#countdown-box {
  width: 20rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem 0;
  background-color: #ffffff;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 1rem;
  opacity: 80%;
  z-index: 1;
}
#countdown {
  font-size: 3rem;
  font-weight: 600;
}
#countdown-box button {
  outline: none;
  border: 0;
  padding: 1rem 2rem;
  background-color: hsl(120, 100%, 75%);
  /* color: #ffffff; */
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
}
#links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-top: 1rem;
}
#links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#start-button:hover {
  background-color: hsl(110, 61%, 63%);
}
#start-button:disabled {
  color: rgb(181, 0, 0);
  cursor: not-allowed;
  background-color: hsl(120, 50%, 75%);
}
