* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
  }

a{
    text-decoration: none;
}
  
#countdown-container {
    position: fixed;
    top: 1%;
    right: 0.5%;
    width: 175px;
    height: 220px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 1px #ccc;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    border-radius: 3%;
    opacity: 0.8;
    z-index: 1;
}
  
#countdown-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#time-left{
    margin-bottom: 0;
    padding-bottom: 0;
}
  
#countdown {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
#start-button {
    padding: 10px 10px;
    background-color: #77a577;
    border: none;
    border-radius: 3px;
    width: 100px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
  
#start-button:hover {
    background-color: #799b79;
}
  
#links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    padding-bottom: 20px;  
}

#links>a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}

.grid-container {
    display: grid;
    grid: 150px / auto auto auto;
    row-gap: 350px;
  }

